doctype 5
html
  head
    block styleSheet
    //link(href='http://fonts.googleapis.com/css?family=Oswald:400,300,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Josefin+Slab', rel='stylesheet', type='text/css')
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type="text/javascript", src="js/knockout-2.1.0.js")
    title Joe Lepper
  body#root
    #main
      block mainDiv
    #main_content
      block mainContentDiv