doctype 5
html
  head
  body
    h2 You must be logged in to do that.
    #message
      -for (var key in vars)
        p= vars.error    
    form(action='/login', method='post')
      #user
        label Username:
        input(type='text', name='username')
      #pass
        label Password:
        input(type='password', name='password')
      #submit
        input(type='submit', value='Log In')
    #create
      a(href='/create') Create a new user

